# Copy to local.env and set the actual installation paths.
IDS_WS="$HOME/ros2_ws_ids"
NAV_WS="$HOME/robotControlSim/ros2"
INSTA_WS="$HOME/ros2_ws"
STELLA_DATA="$HOME/stella_data"
WAYPOINT_DIR="$HOME/antnoid_routes"
